[train] #train parameters
epoch = 60
batch_size = 64
shuffle = True

reader_num = 4

optimizer = adam
learning_rate = 1e-4
weight_decay = 1e-6
step_size = 1
lr_multiplier = 1

[eval] #eval parameters
batch_size = 64

reader_num = 2

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = AttenRNN
train_data_path = /newstorage5/salthamm/coliee22/task1/bertpli/poolout_output/train
train_file_list = run_merged.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = AttenRNN
valid_data_path = /newstorage5/salthamm/coliee22/task1/bertpli/poolout_output/val
#/data01/salthamm/data/coliee19/task1/task1_val20percent
valid_file_list = poolout_bertorg_top1_15_0.jsonwithlabels.json, poolout_bertorg_top1_15_1.jsonwithlabels.json

test_dataset_type = JsonFromFiles
test_formatter_type = AttenRNN
test_data_path = /newstorage5/salthamm/coliee22/task1/bertpli/poolout_output/val
test_file_list = poolout_bertorg_top1_15_0.jsonwithlabels.json, poolout_bertorg_top1_15_1.jsonwithlabels.json

load_into_mem = True

recursive = False
json_format = line

max_seq_length = 512

[model] #model parameters
model_name = AttenRNN
max_para_q = 54

rnn = gru
hidden_dim = 256
output_dim = 2
bidirectional = False
num_layers = 1
dropout_rnn = 0
dropout_fc = 0
output_mode = classification
label_weight = 1.0

[output] #output parameters
output_time = 1
test_time = 1
save_step = -1
save_as_dict = True
#model = /mnt/nvme-local/salthamm/models/bert-pli-reprod/bertorg_lawrnn_gru.pkl
model_path = /newstorage5/salthamm/coliee22/task1/bertpli/models
#model_path =  /mnt/nvme-local/salthamm/models/bert-pli-reprod/bertorg_lawrnn_gru2.pkl
#/mnt/nvme-local/salthamm/models/coliee19/bert-pli/attenlstm/output1
model_name = attengru_coliee22

bert_path = bert-base-uncased

#tensorboard_path = /mnt/nvme-local/salthamm/models/coliee19/bert-pli/attengru/output1

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_precision,macro_precision,macro_recall,macro_f1

tqdm_ncols = 150
